/* general styles */
* {
    box-sizing: border-box;
  }
img{
    border: 0;
    width: 100%;
}
ul{
    margin: 0px;
}
/* main styles */
#main{
    margin: 0 auto;
    max-width: 1100px;
}

/* header styles */
.top-head{ 
    display: flex;
    flex-direction: row;
}
.logo {
    flex: 50%;
}
.logo img{
    height: 100px;
    width: 300px;
}
.top-title{
    flex: 50%;
}
.top-title h1{
    margin-top: 50px;
}
nav{
    overflow: hidden;
    background-color: black;
    margin-bottom: 5px;
    margin-top: 5px;
}
nav li{
    display: block;
    float: left;  
}
nav li a{
    color: white;
    line-height: 3;
    padding-right: 2px;
}
/* main content styles */
.main-index{
    display: flex;
    flex-direction: row;
 
}
.main-tableau img{
    height: 100px;
    width: 100px;

}

section.box{
    flex: 70%;
}
aside.box{
    flex: 30%;
    background-color: gray;
}
aside p{ 
    margin: 0;
}
/* footer styles */
footer{
    background-color: black;
    margin-top: 5px;
    overflow: hidden;
}
footer li{
    display: block;
    float: left;
}
footer li a{
    color: white;
    line-height: 3;
    padding-right: 2px;
}
/* Responsive layout */
@media (max-width: 768px) {
    .main-index , .top-head , .main-tableau{
      flex-direction: column;
      text-align: center;
    }
    nav li , footer li{
        float: none;
        width: 100%;
        text-align: center;
      }
      ul{
          padding-left: 0px;
      }


  }